.app {
  /* Add app styles here */
  font-family: verdana, Geneva, sans-serif;
}


/* unvisited link */

.div-container {
  overflow: auto;
  /*width:1200px;*/
  height: 1000px;
  /*overflow: scroll;*/
  overflow-x: scroll;
  /*overflow-y: auto;*/
  border-style: solid;
  border-width: 1px;
}

.graph-node {
  padding: 50px;
  margin: 5px;
  width: 100;
  height: 100;
}

.svg {
  overflow: auto;
  height: 16000px;
  width: 64000px;
}

.node rect {
  width: 100px;
  fill: #fff;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath {
  stroke: black;
  stroke-width: 1.5px;
  fill: none;
}

.divLayout {
  padding: 4px 10px 4px 10px;
  font-size: 14px;
  color: black;
}

.accepted-story {
  background-color: #66CC66;
}

.status-not-scheduled {
  color: black;
  background-color: yellow;
}

.status-good {
  color: white;
  background-color: green;
}

.status-bad {
  color: white;
  background-color: #FF6666;
}

.status-blocked {
  color: white !important;
  background: repeating-linear-gradient(-45deg, #F51B1B, #F51B1B 10px, #D81818 10px, #D81818 20px) !important;
}

.story-name {
  float: left;
  width: 175px;
}

.other-project {
  color: white;
  background: repeating-linear-gradient(45deg, #351B75, #351B75 10px, #2F1867 10px, #2F1867 20px);
}

.Backlog {
  color: black;
  background: #F7C430;
}

.Defined {
  color: black;
  background: #F99221;
}

.In-Progress {
  color: black;
  background: #DAE31D;
}

.Completed {
  color: black;
  background: #53C8F2;
}

.Accepted {
  color: black;
  background: #A8E000;
}

.Live {
  color: black;
  background: repeating-linear-gradient(-45deg, #C0FF00, #C0FF00 10px, #B3EE01 10px, #B3EE01 20px);
}

.red-white {
  color: white;
  background: repeating-linear-gradient(-45deg, #F51B1B, #F51B1B 10px, #D81818 10px, #D81818 20px);
  border: 1px dashed black;
}

.white-black {
  color: black;
  background: repeating-linear-gradient(45deg, #F0F0F0, #F0F0F0 10px, #D2D2D2 10px, #D2D2D2 20px);
}

.yellow-black {
  color: black;
  background: repeating-linear-gradient(45deg, #F3EF4B, #F3EF4B 10px, #E4E045 10px, #E4E045 20px);
}

.purple-white {
  color: white;
  background: repeating-linear-gradient(45deg, #351B75, #351B75 10px, #2F1867 10px, #2F1867 20px);
}

.green-white {
  color: white;
  background: repeating-linear-gradient(45deg, #C6D614, #C6D614 10px, #B2C10F 10px, #B2C10F 20px);
}

.green-black {
  color: black;
  background: repeating-linear-gradient(45deg, #C6D614, #C6D614 10px, #B2C10F 10px, #B2C10F 20px);
}

.pink-white {
  color: white;
  background: repeating-linear-gradient(45deg, #E63B8A, #E63B8A 10px, #D53680 10px, #D53680 20px);
}

.white-blue {
  color: white;
  background: repeating-linear-gradient(45deg, #2A95FF, #2A95FF 10px, #2589EB 10px, #2589EB 20px);
}

.light-orange-black {
  color: black;
  background: repeating-linear-gradient(45deg, #FFD300, #FFD300 10px, #F4CA00 10px, #F4CA00 20px);
}

.burnt-orange-black {
  color: black;
  background: repeating-linear-gradient(45deg, #FF9500, #FF9500 10px, #EE8B00 10px, #EE8B00 20px);
}

.light-purple-black {
  color: black;
  background: repeating-linear-gradient(45deg, #7D64B1, #7D64B1 10px, #7D64B1 10px, #7D64B1 20px);
}

.teal-white {
  color: white;
  background: repeating-linear-gradient(45deg, #266E5C, #266E5C 10px, #1E584A 10px, #1E584A 20px);
}

.move-white {
  color: white;
  background: repeating-linear-gradient(45deg, #7E90B4, #7E90B4 10px, #7586A7 10px, #7586A7 20px);
}

a,
a:link,
a:visited,
a:active {
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: #A9CA06 !important;
  text-decoration: none !important;
}

.wrapper {
  white-space: normal;
  color: white;
  font-family: verdana, Geneva, sans-serif;
  font-size: 12px;
  background: #3D3D3D;
  border: 1px solid black;
}

.padding {
  padding: 5px;
}

.uid {
  height: 33px;
  text-align: left;
  border-bottom: 1px solid #1E1E1E;
}

.name {
  height: 33px;
  text-align: left;
}

.feature {
  height: 33px;
  text-align: left;
}

.node {
  height: 50px;
  text-align: left;
}

.release {
  height: 33px;
  text-align: left;
}

.iteration {
  height: 33px;
  text-align: left;
}

.estimate {
  height: 33px;
  text-align: left;
}

.task {
  height: 33px;
  text-align: left;
  border-bottom: 1px solid black;
}

.state {
  height: 25px;
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.colour {
  text-align: left;
  height:10px;
}